.App {
  text-align: center;
  background-color: #fddde6;
  min-height: 100vh;
}

body{
  max-width: 100%;
  margin: 0 auto;
}

/* NavBar */
.app-nav{
  margin: 0 16px 0 0;
}

.right-nav{
  float: right;
}

.pageButtonBold {
  font-weight: 800;
}

.button-container{
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
}

.button-container-top{
  margin-left: 175px;
}

.connect-button {
  background-color: #FFA6C9 !important;
  /* background-color: rgb(253, 234, 241) !important; */
  border-radius: 16px !important;
  border: 1px solid #fff !important;
  color: rgb(213, 0, 102) !important;
 
}

.connect-button-container {
  display: inline-block;
  margin-right: 10px;
}

.connect-button:hover {
  border-color: rgb(213, 0, 102) !important;
}

.hoverBold:hover {
  font-weight: 800;
}

/* Swap Container */

.app-body{
  height: 100%;
  padding: 80px;
}

.swap-container{
  background-color: #FFA6C9;
  width: 440px;
  height: 350px;
  margin: 0 auto;
  border-radius: 24px;
  border: 1px solid #fff;
  padding: 6px;
}
.swap-header{
  text-align: left;
  padding: 4px 20px 0 px 20px;
}

.swap-text{
  color: #000;
  font-size: 20px;
  padding: 0px 5px;
}
.gear-container{
  float: right;
  font-size: 22px;
  padding: 0px 5px;
}

/* Modal */

.modaly{
  position: fixed;
  left:0;
  top:-510px;
  right: -110px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(213, 0, 102);
}

.modal-content{
  background-color: #fff;
  width: 300px !important;
  padding: 10px 25px;
  background-color: #fddde6 !important;
  border: 1px solid white !important;
  border-radius: 12px !important;

}

.modal-title{
  margin: auto;
}
.title-header{
  margin-left: -12px;

}

.label-filed{
  padding-left: 0px !important;
}

.field-container{
  padding-left: 0px !important;
}

.input-field{
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}

.input-field-units-container{
  padding-left: 0 !important;
  padding-top: 14px;
}

/* Currency Input */

.currency-input{
  background-color: #fddde6;
  margin: 10px !important;
  padding: 10px;
  border-radius: 20px;

}


.currency-input:hover{
  border-color: rgb(213, 0, 102) !important;
  border: 1px solid;
}
::placeholder {
  opacity: 0.25;
}

.number-container{
  text-align: left;
}

.spinner-container{
  height: 55px;
  line-height: 55px;

}

.currency-input-field{
  font-size: 28px;
  display: inline-block;
  width: 100%;
  border: none;
  
}

.token-container{
  text-align: center;
}

.token-name{
  font-size: 28px;
  display: block;
  color:#000;
}

.balance-container{
  display: block;
}

.balance-amount{
  width: 100%;
  font-size: 16px;
  display: inline;
  color: #000;
}

.ratio-container {
  text-align: left;
  margin-left: 10px;
  height: 28px;
}

.swap-button-container {
  margin: 10px;
}
.swap-button {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer
}

